
@import 'scrollbar';

@mixin main-background(){
  background: rgb(0,159,231);
  background: linear-gradient(326deg, rgba(147,13,224,1) 0%, rgba(0,159,231,1) 15%, rgba(0,222,223,1) 50%, rgba(156,0,224,1) 100%);
  background-repeat:no-repeat;
  background-size: 100% 600%;
}

@mixin glass-background(){
  background: rgba(255,255,255,0.4);
  color:white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@mixin glass-background-hover(){
  background: rgba(0,0,0,0.5);
  color:white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@mixin horizontal-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin scroll-bar() {
  /* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
     
}