

@import 'variables';
@import 'mixin/mixin';
@import 'utilities';
@import 'breakpoints';
@import 'grid';
@import 'init';
@import 'triangle';
@import 'navbar';
@import 'card';


// custom style
@import 'style';

.card {
    height: 260px;
    width: 420px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
    padding: 30px 30px 30px 30px;
    overflow: hidden;

    p{
        background-color: red;
    }
}