.crypto_list_page{
    display: flex;
    padding: $base-padding;

    .crypto_list{
        @include scroll-bar();
        height: 88vh;
        overflow-y: scroll;
        overflow-x: hidden;
        flex-direction: 0.3;

        /* width */
        &::-webkit-scrollbar {
            width: .6rem;
        }
    
        /* Track */
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: $base-border-radius;
        }
    
        /* Handle */
        &::-webkit-scrollbar-thumb {
            @include glass-background();
            border-radius: $base-border-radius;
        }
    
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            @include glass-background-hover();
        }

        .crypto_list_item{
            @include horizontal-flex();
            @include glass-background();
            padding: $base-padding;
            border-radius: $base-border-radius;
            margin-bottom: $base-margin;

            &:hover{
                @include glass-background-hover();
                cursor: pointer;
            }
            
            .crypto_item_image{
                height: auto;
                width: 2rem;
            }

            .crypto_item_header{
                @include horizontal-flex();
                font-size: $base-font-size + .5rem;
                justify-content: space-between;
                

            }
            .crypto_item_details{
                @include horizontal-flex();
                margin-left: $base-margin;
                justify-content: space-between;
            }
        }

        .crypto_item_chart{
            @include md(){
                display: none;
            }
        }

        @include sm(){

        }
        
    }

    .cryptos_chart{
        @include glass-background();
        padding: $base-padding;
        border-radius: $base-border-radius;
        width: 100%;
        flex-direction: 0.7;

        @include xs(){
            display: none;
        }

        @include md(){
            display: block;
        }
    }


    @include sm(){
        display: block;
    }

    @include md(){
        display: flex;
    }
}